@import "reset";
@import "variables";
@import "logo";
@import "inputReset";
@import "login";

body {
  background: $lightPrimaryColor;
  color: $textPrimaryColor !important;
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 1.25em;
}
