.logo {
  color: $textPrimaryColor;
  font-weight: bold;
  line-height: 35px;
  text-transform: uppercase;
}

.logo-icon {
  float: left;
  margin-top: 1px;
}

.top-kay, .bottom-kay {
  background-color: $accentColor;
  float:left;
  height:20px;
  position:relative;
  width: 20px;
  z-index: 2;
}

.bottom-kay {
  clear: both;
}

.top-kay {
  transform-origin: bottom left;
  -webkit-animation: top-kay 1.5s;
  -webkit-transition-timing-function: linear;
}

.top-kay-point {
  background-clip: content-box;
  background-origin: content-box;
  border-top: 20px solid $accentColor;
  border-right: 10px solid transparent;
  float:left;
  position: relative;
  transform-origin: center left;
  -webkit-animation: top-kay-point 1.3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
  -webkit-transition-timing-function: ease-in;
  z-index: 2;
}

.bottom-kay {
  transform-origin: top left;
  -webkit-animation: bottom-kay 2s;
  -webkit-transition-timing-function: linear;
}

.bottom-kay-point {
  background-clip: content-box;
  background-origin: content-box;
  border-top: 20px solid transparent;
  border-left: 10px solid $accentColor;
  float:left;
  position: relative;
  transform-origin: center left;
  -webkit-animation: bottom-kay-point 1.3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
  -webkit-transition-timing-function: ease-in;
  z-index: 2;
}

@-webkit-keyframes top-kay {
  0% {
    transform: perspective(500px) rotateX(-90deg);
    opacity: 0;
  }
  to {
    transform: perspective(500px) rotateX(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes bottom-kay {
  0% {
    transform: perspective(500px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(500px) rotateX(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes top-kay-point {
  0% {
    transform: perspective(500px) rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(500px) rotateY(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes bottom-kay-point {
  0% {
    transform: perspective(500px) rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(500px) rotateY(0deg);
    opacity: 1;
  }
}
.knotis-text-clip {
  float: left;
  line-height: 42px;
  margin-left: -20px;
  overflow: hidden;
  padding-left: 20px;
  position: relative;
  z-index: 1;
}

.knotis-text {
  color: $textPrimaryColor;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: .6em;
  font-weight: bold;
  letter-spacing: 1px;
  overflow: hidden;
  text-transform: uppercase;
  transform-origin: center right;
  width: 100%;
  -webkit-animation: knotis-text 1.25s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: backwards;
  -webkit-transition-timing-function: ease-in;
}

@-webkit-keyframes knotis-text {
  0% {
    transform: translate3d(-70px, 0px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
