// $darkPrimaryColor:         #00796B;
// $primaryColor:             #009688;
// $lightPrimaryColor:        #F5F5F5;
// $textPrimaryColor:         #282828;
// $textOnDarkPrimaryColor:   #FFFFFF;
// $accentColor:              #FF4081;
// $primaryTextColor:         #282828;
// $secondaryTextColor:       #727272;
// $dividerColor:             #B6B6B6;

$darkPrimaryColor:         #282828;
$primaryColor:             #666666;
$lightPrimaryColor:        #F5F5F5;
$textPrimaryColor:         #282828;
$textOnDarkPrimaryColor:   #FFFFFF;
$accentColor:              #F44336;
$actionColor:              #F44336;
$primaryTextColor:         #282828;
$secondaryTextColor:       #727272;
$dividerColor:             #B6B6B6;