<section class="content">
  <h2 class="logo">
    <div class="logo-icon">
        <div class="top-kay"></div>
        <div class="top-kay-point"></div>
        <div class="bottom-kay"></div>
        <div class="bottom-kay-point"></div>
    </div>
    Knotis
  </h2>

  <form class="form-horizontal" {{action "login" on="submit"}}>
    {{#if loginFailed}}
      <div class="form-error">Invalid username or password.</div>
    {{/if}}

    <div class="form-group">
      <span class="form-input">
        {{form-text class="form-text" value=username type="text" id="loginUsername" required="required"}}
        <label class="form-label" for="loginUsername">
          <span class="form-label-content">Username</span>
        </label>
      </span>
      <span class="form-input">
        {{form-text class="form-text" value=password type="password" id="loginPassword" required="required"}}
        <label class="form-label" for="loginPassword">
          <span class="form-label-content">Password</span>
        </label>
      </span>
    </div>

    <button type="submit" class="form-button" {{bindAttr disabled="isProcessing"}}>
      Log in
    </button>

    <button type="button" class="form-button">
      Sign up
    </button>
  </form>
</section>