<section class="content">
<form class="form-horizontal" {{action "login" on="submit"}}>
  {{#if loginFailed}}
    <div class="alert">Invalid username or password.</div>
  {{/if}}

  <div class="control-group">
    <span class="form-input">
      {{form-text class="form-text" value=username type="text" id="loginUsername"}}
      <label class="form-label" for="loginUsername">
        <span class="form-label-content">Username</span>
      </label>
    </span>
    <span class="form-input">
      {{form-text class="form-text" value=password type="password" id="loginPassword"}}
      <label class="form-label" for="loginPassword">
        <span class="form-label-content">Password</span>
      </label>
    </span>
  </div>

  <button type="submit" class="btn" {{bindAttr disabled="isProcessing"}}>
    Log in!
  </button>
</form>
</section>